
<div class="container">

  <div class="header">
    <h1 class="t__h1">count ur cals</h1>
  </div>

  <hr>

  <div class="row_container">
    <h2 class="t__h2 c__green">Today (<%= Date.today.strftime("%A") %>) <span class="t__small"><%= Date.today %></span></h2>
    <div class="content_container today__container">
      Items
      <ul>
        <% @today_items_data[:items].each do |item| %>
          <li><strong><%= item.name %></strong> <em><%= item.calories %></em> cals</li>
        <% end %>
      </ul>
    </div>
    <div class="vertical_spacer__5"></div>
    <div class="content_container today__container">
      Add Item
      <%= form_with scope: :item, local: true, url: items_path do |form| %>
        <p>
          <%= form.label :name %><br>
          <%= form.text_field :name %>
        </p>
      
        <p>
          <%= form.label :calories %><br>
          <%= form.number_field :calories %>
        </p>
        <p>
          <%= form.submit %>
        </p>
      <% end %>
    </div>
    <div class="vertical_spacer__5"></div>
    <div class="content_container today__overview">
      <strong>Overview</strong>
      <p>Total Cals: <%= @today_items_data[:total_calories] %></p>
    </div>
  </div>

  <div class="row_container">
    <h2 class="t__h2">Past 7 days</h2>
    <%= render partial: "day", locals: { days_ago: 7, data: ::Item.data_from(days_ago: 7) } %>
    <div class="vertical_spacer__5"></div>
    <%= render partial: "day", locals: { days_ago: 6, data: ::Item.data_from(days_ago: 6) } %>
    <div class="vertical_spacer__5"></div>
    <%= render partial: "day", locals: { days_ago: 5, data: ::Item.data_from(days_ago: 5) } %>
    <div class="vertical_spacer__5"></div>
    <%= render partial: "day", locals: { days_ago: 4, data: ::Item.data_from(days_ago: 4) } %>

    <%= render partial: "day", locals: { days_ago: 3, data: ::Item.data_from(days_ago: 3) } %>
    <div class="vertical_spacer__5"></div>
    <%= render partial: "day", locals: { days_ago: 2, data: ::Item.data_from(days_ago: 2) } %>
    <div class="vertical_spacer__5"></div>
    <%= render partial: "day", locals: { days_ago: 1, data: ::Item.data_from(days_ago: 1) } %>
    <div class="vertical_spacer__5"></div>
    <div class="content_container weekly__container">
      <strong>Overview</strong>
      <p>Total Calories: <%= @weekly_data[:total_calorie_intake] %></p>
      <p>Average Calories: <%= @weekly_data[:average_calorie_intake] %></p>
    </div>
  </div>

</div>
