
<div class="container">

  <div class="header">
    <h1 class="t__h1">count ur cals</h1>
  </div>

  <hr>

  <div class="row_container">
    <h2 class="t__h2 c__green">Today (<%= Date.today.strftime("%A") %>) <span class="t__small"><%= Date.today %></span></h2>
    <div class="content_container today__overview <%= threshold_class(calories: @today_items_data[:total_calories]) %>">
      <strong>Overview</strong>
      <p>Total Cals: <%= @today_items_data[:total_calories] %></p>
      <hr>
      <p class="t__medium">Desired Baseline: <%= Stats::BASELINE_CAL_COUNT %></p>
    </div>
    <div class="vertical_spacer__5"></div>
    <div class="content_container today__container">
      Consumed Items
      <ul>
        <% @today_items_data[:items].each do |item| %>
          <li>
            <strong><%= item.name %></strong> <span class="t__small">at <%= item.created_at.strftime("%I:%M %p") %></span>
            <ul>
              <li class="li__nested t__small"><em><%= item.calories %></em> cals</li>
            </ul>
          </li>
        <% end %>
        
      </ul>
    </div>
    <div class="vertical_spacer__5"></div>
    <div class="content_container today__container">
      Add Item
      <%= form_with scope: :item, local: true, url: items_path do |form| %>
        <p>
          <%= form.label :name %><br>
          <%= form.text_field :name %>
        </p>
      
        <p>
          <%= form.label :calories %><br>
          <%= form.number_field :calories %>
        </p>
        <p>
          <%= form.submit %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="row_container">
    <h2 class="t__h2">Past 7 days</h2>
    <div class="content_container weekly__container <%= threshold_class(calories: @weekly_data[:average_calorie_intake]) %>">
      <strong>Overview</strong>
      <p class="t__medium">Total Calories: <%= @weekly_data[:total_calorie_intake] %></p>
      <p class="t__medium">Average Calories: <%= @weekly_data[:average_calorie_intake] %></p>
      <p class="t__medium">Desired Avg Baseline: <%= Stats::BASELINE_CAL_COUNT %></p>
    </div>
    <div class="vertical_spacer__5"></div>
    <%= render partial: "day", locals: { days_ago: 1, data: ::Item.data_from(days_ago: 1) } %>
    <div class="vertical_spacer__5"></div>
    <%= render partial: "day", locals: { days_ago: 2, data: ::Item.data_from(days_ago: 2) } %>
    <div class="vertical_spacer__5"></div>
    <%= render partial: "day", locals: { days_ago: 3, data: ::Item.data_from(days_ago: 3) } %>

    <%= render partial: "day", locals: { days_ago: 4, data: ::Item.data_from(days_ago: 4) } %>
    <div class="vertical_spacer__5"></div>
    <%= render partial: "day", locals: { days_ago: 5, data: ::Item.data_from(days_ago: 5) } %>
    <div class="vertical_spacer__5"></div>
    <%= render partial: "day", locals: { days_ago: 6, data: ::Item.data_from(days_ago: 6) } %>
    <div class="vertical_spacer__5"></div>
    <%= render partial: "day", locals: { days_ago: 7, data: ::Item.data_from(days_ago: 7) } %>
  </div>

</div>
